<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <ion-item menu-close="" href="#" ng-repeat="device in settings.contents.devices">{{device.name}} - {{device.uuid}} ({{device.address}})</ion-item>
        </ion-list>
        <button class="topcoat-button button" ng-click="settings.actions.discover()">Refresh</button>
        <ul>
            <li ng-repeat="debug in settings.contents.debug track by $index">
                {{debug}}
            </li>
        </ul>
    </ion-content>
</ion-view>
