<ion-view view-title="Devices">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="discoverer.actions.discover()">
            Refresh
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item menu-close="" ng-click="discoverer.actions.connection.connectWith(device)" ng-repeat="device in discoverer.contents.devices" class="item-icon-left" ng-class="{'item-icon-right': (discoverer.contents.selectedDevice === device.id)}">
                <i class="icon ion-bluetooth"></i>
                {{device.name}} - {{device.uuid}} ({{device.address}})
                <i class="icon ion-checkmark-round" ng-if="discoverer.contents.selectedDevice === device.id"></i>
            </ion-item>
        </ion-list>
        <ul>
            <li ng-repeat="debug in discoverer.contents.debug track by $index">
                {{debug}}
            </li>
        </ul>
    </ion-content>
</ion-view>
