<ion-view view-title="Map">
        <ion-tabs>
            <ion-tab title="Map" on-select="Map.mapSelected()">
                <div class="map-tab-container">
                    <leaflet tiles="Map.tiles" markers="Map.markers" lf-center="Map.leaflet.center" event-broadcast="Map.leaflet.events" width="100%" height="100%"></leaflet>
                </div>
            </ion-tab>
            <ion-tab title="List">
                <div class="map-tab-container">
                    <div ng-if="!Map.markers" class="card">
                        <div class="item item-text-wrap">
                            No markers available at that moment. Try again later or add one yourself :)
                        </div>
                    </div>
                    <ion-list ng-if="Map.markers">
                        <ion-item ng-repeat="marker in Map.markers">
                            <div class="card">
                                <div class="item item-text-wrap">
                                    <p>Type: {{marker.type}}</p>
                                    <p>Time span: {{marker.constancy}}</p>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>

            </ion-tab>
        </ion-tabs>
</ion-view>