<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <ion-item class="item-input">
                <input type="text" placeholder="First Name" ng-model="account.form.firstName">
            </ion-item>
            <ion-item class="item-input">
                <input type="text" placeholder="Last Name" ng-model="account.form.lastName">
            </ion-item>
            <ion-item class="item-input">
                <input type="text" placeholder="Nick" ng-model="account.form.nick">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>