<ion-view view-title="Chat">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in chatMessages">
                <h2>{{item.nick}}</h2>
                <p>{{item.message}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <input style="width: 100%" type="text" placeholder="Message" ng-model="data.message">
        <button class="button button-small" ng-click="sendMessage()">
                Send
        </button>
    </ion-footer-bar>
</ion-view>